* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.grid-container-index {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}


/* HEADER */

.nav_list {
    list-style: none;
}

.nav_list a {
    text-decoration: none;
    color: #FFF;
}

header {
    position:sticky;
    top: 0;
}

.container_flex--header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:darkseagreen;
    padding: 10px;
}

.logo-header {
    display: flex;
}

.logo {
    width: 2.5em;
    height: 2.5em;
}

.menu_icon {
    width: 2em;
    height: 2em;
    border: 2px solid #0d0404;
    border-radius: 3px;
    padding: 5px 7px;
}

.menu_sesion {
    font-size: 0.8em;
}

.menu_sesion ul{
    list-style: none;
}

.menu_sesion li {
    padding: 0.5em 0 0.5em;
}

li:hover {
    transform: translateY(-5px)
}

.menu_sesion a {
    color: #fff;
    text-decoration: none;
}


.fa-whatsapp {
    color: green;
}

/* BANNER */
.container-banner {
    background-color: #e1efbf;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5em;
}


.banner>div {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.banner_search>input {
    margin-left: 0.3em;
    border-radius: 10%;
    box-shadow: 2px  2px gray;
}

.banner_search>label {
    font-weight: bold;
}

h1 {
    margin-bottom: 0.5em;
    text-shadow: 1px 1px 4px green;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

/* MAIN */

main {
    background-image: url(/assets/imgs/subtle-stripes.svg)
}

main h2 {
    text-align: center;
    margin: 1.5em;
    text-decoration: underline;
}

.container_prod--index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.producto-index {
    width: 40%;
    border: 5px solid lightgray;
    background-color: #fff;
    padding: 10px;
    /* flex: 1 1 200px; */
}

.producto-index h3 {
    text-align: center;
    margin-bottom: 0.5em;
    font-family: "Permanent Marker", cursive;
}

.producto-index img {
    max-width: 100%;
}

.producto-index:hover {
    transform: translateY(-5px)
}



/* FOOTER */
footer {
    background-color: brown;
    color: #fff;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


footer a {
    color: #fff;
}

footer p {
    text-align: center;
}

footer span {
    font-family: "Lobster", sans-serif;
}

.redes  {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* RESEÑAS */

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.grid-reseñas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    margin: 4em;
}

.card-reseñas {
    background-color: #395;
    padding: 1em;
    border: 2px solid #0b140e43;
    border-radius: 10px;
    box-shadow: 5px 10px #33995575;
    margin-top: 1em;
}

.card:hover {
    transform: translateY(-5px)
}

/* PRODUCTOS */

#comercial, #escolar, #varios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border: 2px solid #0d0404;
    border-radius: 30px;
    padding: 2em;

}

.productos {
    margin: 3em;
}

.card-prod {
    height: 17em;
    width: 13em;
    background-color: #d5e0ebd6;
    border: 1px solid #000;
    border-radius: 50px;
    margin: 2em;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    height: 7em;
    display: inline-block;
}

.text-card {
    border-top: 1px solid #b0b0b0;
    padding: 0.5em;
    text-align: center;
}

.text-card > h4 {
    text-shadow: 1px 1px;
    letter-spacing: 3px;
    text-decoration:underline;
    margin-bottom: 1em;
} 

.color-card, .precio{
    display: inline;
    font-weight: 600;
    font-style: italic;
}

.text {
    font-size: 0.8em;
}

.radio-text {
    margin-bottom: 0.8em;
}

.button-prod {
    width: 10em;
    height: 2.5em;
    margin-top: 1em;
    border-radius: 10px;
    cursor: pointer;
    background-color: #2a5d3b;
    color: #fff;
}

.title-card {
    text-align: center;
    margin-bottom: 0.5em;
    font-family: "Permanent Marker", cursive;
}




/* iphone XR */
/* Clase 6 */

